/* top row of track navigation inputs */
.annotateCellsInput {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    border-right: 1px solid #aaa;
    height: 81px;
    padding-right: 5px;
}
.annotateCellsInput .shiny-options-group {
    margin-top: 15px !important;
}
.annotateCellsInput button {
    width: 55px;
    text-align: center;
    padding: 6px 0;
    margin-top: 2px; /* 36px */
} 

/* .annotateCellsInput .shiny-input-container {
    width: 90px;
}
.annotateCellsWideInput .shiny-input-container {
    width: 110px;
}
.annotateCellsInput .selectize-control {
    margin: 0;
}
.annotateCellsInput .checkbox {
    margin-top: 30px;
    margin-left: 10px;
}

/* the cell stepper */
.stepperInput {
    display: inline-block;
    margin-top: 36px;
}
.stepperInput * {
    vertical-align: middle;
} */
